// @tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 4px;
  width: 800px;
}

body {
  overflow: hidden;
  font-size: 3.5rem;
  width: 800px;
  height: 600px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    Roboto,
    '微软雅黑',
    Microsoft YaHei,
    '宋体',
    Helvetica Neue,
    Helvetica,
    Tahoma,
    Arial,
    Simsun;
  scroll-behavior: smooth;
}